@import "./styles/colors.css";
@import "./styles/typography.css";

body {
  text-decoration: none;
  font-family: var(--ff-primary);
  background-color: var(--clr-primary-back);
  margin: 0;
  letter-spacing: var(--ls-s1);
}
