@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

* {
  text-decoration: none;
}

.loader-position {
  margin-left: var(--m-left-40);
  margin-top: var(--m-top-15);
}

#actions-container {
  flex: 10;
  width: 98%;
  padding: 1% 1% 0 1%;
  background-color: var(--clr-primary-back);
}

.actions-child {
  font-size: var(--fs-basis);
}

#section {
  margin: 30px 5px;
  border-style: var(--bor-st-sol);
  border-width: var(--bor-w-001);
  border-color: var(--clr-border);
}

.actions-header {
  margin: 1%;
  padding: var(--pd-1);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 0.15em;
  font-size: var(--fs-basis-m1);
  color: var(--clr-primary-text);
}

@media screen and (min-width: 1023px) {
  #section {
    margin: 2%;
  }

  .actions-header {
    font-size: 1.2em;
    margin: 0 1%;
  }
}

@media screen and (max-width: 700px) {
  .loader-position {
    margin-left: var(--m-left-40);
    margin-top: var(--m-top-30);
  }

  .actions-header {
    margin-top: var(--m-top-20-px);
  }

  #section {
    margin: 20px 5px;
  }
}

@media screen and (max-width: 600px) {
  .loader-position {
    margin-left: var(--m-left-30);
    margin-top: var(--m-top-30);
  }
}

@media screen and (max-width: 415px) {
  .loader-position {
    margin-left: var(--m-left-25);
    margin-top: var(--m-top-70);
  }

  .actions-header {
    font-size: 1em;
  }

  #section {
    margin-top: var(--m-top-40-px);
  }
}
