@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-addC: 1.3em;
}

.add-client-container {
  width: var(--w-80);
  margin-left: 2%;
  padding: var(--pd-1);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  font-size: var(--fs-basis-s1);
  color: var(--clr-primary-text);
}

.add-new-client-btn {
  width: 67%;
  height: 40px;
  padding-top: 10px;
  background-color: var(--clr-primary-yellow);
  color: var(--clr-primary-text);
  font-weight: var(--fw-bold);
  font-size: var(--fs-basis);
  text-align: center;
  margin-top: 35px;
}

.add-new-client-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  .add-client-container {
    width: var(--w-60);
    padding-top: 0;
  }

  .add-new-client-btn {
    margin-top: var(--m-top-40-px);
  }
}

@media screen and (max-width: 700px) {
  .add-client-container {
    width: var(--w-80);
  }

  .add-new-client-btn {
    width: 72%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 415px) {
  .add-client-container {
    margin-top: var(--m-top-20-px);
    width: var(--w-95);
  }

  .add-new-client-btn {
    font-size: var(--fs-addC);
    height: 50px;
  }
}
