.add-client-container {
  width: 80%;
  margin-left: 2%;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  font-size: 0.9em;
  color: black;
}

.input-wrapper {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.input-add-client {
  width: 40%;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: lightgray;
  color: black;
  margin-top: 1%;
}

.add-new-client-btn {
  width: 67%;
  height: 40px;
  padding-top: 10px;
  background-color: #f7ce3e;
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin-top: 35px;
}

.add-new-client-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  .add-client-container {
    width: 60%;
    padding-top: 0;
  }

  .add-new-client-btn {
    margin-top: 40px;
  }
}

@media screen and (max-width: 700px) {
  .add-client-container {
    width: 80%;
  }

  .input-add-client {
    margin-top: 1.5%;
  }

  .add-new-client-btn {
    width: 72%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 415px) {
  .add-client-container {
    margin-top: 20px;
    width: 95%;
  }

  .input-add-client {
    width: 50%;
  }

  .add-new-client-btn {
    font-size: 1.3em;
    height: 50px;
  }
}
