@import "../typography.css";
@import "../sizes.css";
@import "../colors.css";

.client-input-container {
  display: var(--flex);
  text-align: left;
  justify-content: flex-start;
  align-items: var(--al-c);
  padding: var(--pd-0-1);
  margin: var(--m-0-1-0-2);
  line-height: var(--lh-2);
}

.client-input-header {
  display: var(--d-in-flex);
  width: var(--w-30);
  align-items: var(--al-c);
}

@media screen and (min-width: 1023px) {
  .client-input-container {
    width: var(--w-70);
  }

  .input-header {
    font-size: var(--fs-basis-m1);
    width: var(--w-30);
  }
}

@media screen and (max-width: 700px) {
  .client-input-container {
    width: var(--w-100);
  }

  .client-input-header {
    width: var(--w-30);
  }
}

@media screen and (max-width: 600px) {
  .client-input-header {
    width: var(--w-40);
  }
}

@media screen and (max-width: 415px) {
  .client-input-header {
    width: var(--w-45);
  }
}
