@import "../colors.css";

.datalist-wrapper {
  width: 25%;
  border-color: var(--clr-border);
  text-align: center;
  margin-left: 5%;
  padding-bottom: 2%;
}

.datalist-add-client {
  width: 40%;
  background-color: var(--clr-tran);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--clr-border);
  color: var(--clr-primary-text);
  margin-top: 1%;
}

.input-text {
  width: 100%;
  text-align: center;
  background-color: var(--clr-tran);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--clr-border);
}

.input-text-add-client {
  border: none;
  width: 100%;
  text-align: start;
}

@media screen and (min-width: 1023px) {
  .datalist-wrapper {
    margin-left: 1%;
  }
}

@media screen and (max-width: 700px) {
  .datalist-wrapper {
    width: 30%;
  }

  .datalist-add-client {
    margin-top: 1.5%;
  }
}

@media screen and (max-width: 415px) {
  .datalist-add-client {
    width: 50%;
  }
}
