@import "../colors.css";
@import "../sizes.css";
@import "../typography.css";

.datalist-wrapper {
  width: var(--w-25);
  border-color: var(--clr-border);
  text-align: var(--ta-c);
  line-height: var(--lh-2);
}

.datalist-add-client {
  width: var(--w-70);
  background-color: var(--clr-tran);
  color: var(--clr-primary-text);
  line-height: var(--lh-2);
}

.input-text {
  width: var(--w-100);
  text-align: var(--ta-c);
  background-color: var(--clr-tran);
  border-width: 0 0 1px 0;
  border-bottom-color: var(--clr-border);
}

.input-text:focus {
  outline: none;
}

.input-text-add-client {
  width: var(--w-100);
  text-align: var(--ta-c);
}

@media screen and (min-width: 1023px) {
  .datalist-wrapper {
    margin-left: var(--m-left-1);
  }

  .datalist-add-client {
    width: var(--w-40);
  }

  .input-text {
    font-size: var(--fs-basis-s3);
  }
}

@media screen and (max-width: 700px) {
  .datalist-wrapper {
    width: var(--w-30);
  }

  .input-text {
    font-size: var(--fs-basis-s4);
  }
}

@media screen and (max-width: 500px) {
  .input-text {
    font-size: var(--fs-basis-s5);
  }
}

@media screen and (max-width: 415px) {
  .datalist-wrapper {
    margin-right: var(--m-r-auto);
    margin-left: 10px;
  }
  .datalist-add-client {
    width: var(--w-70);
    margin-right: 20%;
  }
}
