@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

.update-client-container {
  display: var(--flex);
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  margin: var(--m-0-1-0-2);
  padding: var(--pd-0-1);
  line-height: var(--lh-2);
}

.light-btn {
  width: var(--w-25);
  margin-left: 10%;
  text-transform: var(--tt-up);
  color: var(--clr-primary-yellow);
  font-weight: var(--fw-bold);
  line-height: var(--lh-2);
  border: 0;
}

.light-btn:hover {
  cursor: pointer;
}

.empty-div {
  width: var(--w-25);
  line-height: var(--lh-2);
}

@media screen and (min-width: 1023px) {
  .update-client-container {
    line-height: var(--lh-15);
    width: var(--w-70);
  }

  .light-btn {
    font-size: var(--fs-basis-s1);
  }

  .empty-div {
    margin-left: var(--m-left-1);
  }
}

@media screen and (max-width: 700px) {
  .update-client-container {
    width: var(--w-100);
  }

  .light-btn {
    font-size: var(--fs-basis-s3);
  }

  .empty-div {
    width: var(--w-30);
  }
}

@media screen and (max-width: 600px) {
  .input-header {
    width: var(--w-40);
  }

  .light-btn {
    width: var(--w-20);
    font-size: var(--fs-basis-s5);
  }
}

@media screen and (max-width: 415px) {
  .input-header {
    width: var(--w-45);
  }

  .light-btn {
    margin-left: var(--m-left-au);
    margin-right: 5%;
    width: var(--w-15);
  }
}
