@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

.update-client-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  margin: 0 1% 0 2%;
  padding: 0 1%;
}

.light-btn {
  width: var(--w-25);
  margin-left: 10%;
  text-transform: uppercase;
  color: var(--clr-primary-yellow);
  font-weight: var(--fw-bold);
}

.light-btn:hover {
  cursor: pointer;
}

.empty-div {
  width: var(--w-25);
  margin-left: var(--m-left-5);
  margin-top: 1%;
}

@media screen and (min-width: 1023px) {
  .update-client-container {
    line-height: 1.5;
    width: var(--w-70);
  }

  .light-btn {
    font-size: var(--fs-basis-s1);
  }

  .empty-div {
    margin-left: var(--m-left-1);
    line-height: 1.5;
  }
}

@media screen and (max-width: 700px) {
  .update-client-container {
    width: var(--w-100);
  }

  .empty-div {
    width: var(--w-30);
  }
}
