@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

* {
  text-decoration: none;
}

.loader-position {
  margin-left: var(--m-left-40);
  margin-top: var(--m-top-15);
}

#analytics-container {
  flex: 10;
  background-color: var(--clr-primary-back);
  margin: 0 10%;
}

.charts-container {
  display: var(--flex);
  flex-flow: var(--f-flow-rw);
  justify-content: var(--jc-se);
  margin-top: var(--m-top-2);
}

.chart-wrapper {
  display: var(--flex);
  justify-content: var(--jc-c);
  align-items: var(--al-c);
  flex-flow: var(--f-flow-cw);
  max-width: fit-content;
  max-height: 400px;
  margin: var(--m-2);
}

.chart-header {
  text-transform: var(--tt-up);
  font-weight: var(--fw-bold);
  text-align: var(--ta-c);
  padding-top: 5px;
}

.recharts-wrapper {
  letter-spacing: var(--ls-normal);
}

@media screen and (min-width: 1023px) {
  .charts-container {
    justify-content: var(--jc-c);
    gap: 2%;
    padding: 0;
  }

  .chart-wrapper {
    margin: 1% 2%;
  }

  .chart-header {
    padding-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .loader-position {
    margin-left: var(--m-left-40);
    margin-top: var(--m-top-30);
  }

  #analytics-container {
    margin: 1% auto;
    max-width: var(--w-75);
  }
}

@media screen and (max-width: 600px) {
  .loader-position {
    margin-left: var(--m-left-30);
    margin-top: var(--m-top-30);
  }
}

@media screen and (max-width: 500px) {
  .charts-container {
    margin-top: var(--m-top-5);
    padding: 5% 0 10% 0;
  }

  .chart-wrapper {
    margin: 5% 2%;
  }

  .recharts-surface {
    max-width: 320px;
  }
}

@media screen and (max-width: 415px) {
  .loader-position {
    margin-left: var(--m-left-25);
    margin-top: var(--m-top-70);
  }

  #analytics-container {
    margin-top: var(--m-top-5);
  }
}
