@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-badges-large: 50px;
  --fs-badges-large-2: 40px;
  --fs-badges-large-3: 30px;
  --fs-badges-sm: 513px;
  --m-top-15-px: 15px;
}

.badges-wrapper {
  /*   height: var(--h-100); */
  max-width: 98%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 1%;
  gap: 2%;
}

.badge {
  text-align: center;
  vertical-align: middle;
  width: var(--w-18-vw);
  height: 15vh;
  border: 1px solid var(--clr-tran);
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1% 0.5% 0.5% 0.5%;
}

.badge:nth-child(odd) {
  background-color: var(--clr-badges-odd);
}

.badge:nth-child(even) {
  background-color: var(--clr-badges-even);
}

.badge-icon {
  font-size: 1em;
}

.badge-header {
  margin-top: 3%;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  white-space: normal;
  font-size: 0.9em;
}

.tooltip-hover .badge-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: var(--clr-border);
  color: var(--clr-primary-text);
  text-align: center;
  text-transform: none;
  font-weight: var(--fw-light);
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip-hover:hover .badge-tooltip {
  visibility: hidden;
}

.badge-desc {
  margin-top: 3%;
  font-size: var(--fs-px-11);
  text-align: center;
  font-weight: var(--fw-light);
  white-space: normal;
  letter-spacing: normal;
}

.badge-result {
  font-size: 1.1em;
  font-weight: var(--fw-bold);
  margin-top: auto;
}

@media screen and (min-width: 1023px) {
  .badges-wrapper {
    max-width: 100%;
  }

  .badge {
    padding: 0.5%;
  }

  .badge-desc {
    font-size: var(--fs-px-12);
    margin-top: 3%;
  }
}

@media screen and (max-width: 880px) {
  .badges-wrapper {
    max-width: 97%;
    gap: 1%;
  }

  .badge {
    padding: 0.5%;
  }

  .badge-header {
    font-size: 0.85em;
  }

  .badge-result {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 800px) {
  .badge {
    width: 30vw;
    margin: 2% 0;
    padding: 1%;
  }

  .badge-header {
    font-size: 0.95em;
  }

  .badge-desc {
    font-size: 12px;
  }

  .badge-result {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 600px) {
  .badge {
    width: 40vw;
  }
}

@media screen and (max-width: 500px) {
  .badges-wrapper {
    gap: 0;
  }

  .badge {
    width: 45vw;
    height: 18vh;
    margin: 2% 0;
    padding: 2%;
  }

  .badge-header {
    padding: 0 5%;
    line-height: 2;
  }

  .badge-icon {
    font-size: 1.5em;
  }

  .tooltip-hover {
    cursor: pointer;
  }

  .tooltip-hover .badge-tooltip {
    width: 25vw;
    margin-right: var(--m-right-40);
    font-size: 1em;
    margin-top: var(--m-top-20-px);
    padding: 5px;
  }

  .tooltip-hover:hover .badge-tooltip {
    visibility: visible;
  }

  .badge-desc {
    visibility: hidden;
    height: 0;
  }

  .badge-result {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  .badge {
    height: 15vh;
  }

  .badge-header {
    font-size: 0.8em;
    margin-top: 5%;
  }

  .tooltip-hover .badge-tooltip {
    width: 100px;
    margin-left: var(--m-left-10-px);
    padding: 5px;
    font-size: var(--fs-px-12);
  }

  .badge-result {
    font-size: 1.5em;
    margin-bottom: 5%;
  }
}
