@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-badges-large: 50px;
  --fs-badges-large-2: 40px;
  --fs-badges-large-3: 30px;
  --fs-badges-sm: 513px;
  --m-top-15-px: 15px;
}

.badges-wrapper {
  height: var(--h-100);
  /*   max-width: 97%; */
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 1%;
  gap: 2%;
}

.badge {
  text-align: center;
  vertical-align: middle;
  /* margin-top: var(--m-top-10-px); */
  width: var(--w-18-vw);
  /* height: var(--h-22-vh); */
  border: 1px solid var(--clr-tran);
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1%;
}

.badge:nth-child(odd) {
  background-color: var(--clr-badges-odd);
}

.badge:nth-child(even) {
  background-color: var(--clr-badges-even);
}

.badge-icon {
  font-size: 1.2em;
  margin-top: 5%;
}

.badge-header {
  margin-top: 5%;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  white-space: normal;
  font-size: 0.95em;
}

.tooltip-hover .badge-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: var(--clr-border);
  color: var(--clr-primary-text);
  text-align: center;
  text-transform: none;
  font-weight: var(--fw-light);
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip-hover:hover .badge-tooltip {
  visibility: hidden;
}

.badge-desc {
  margin-top: 5%;
  font-size: var(--fs-px-12);
  text-align: center;
  font-weight: var(--fw-light);
  white-space: normal;
  letter-spacing: normal;
}

.badge-result {
  font-size: var(--fs-basis-m1);
  font-weight: var(--fw-bold);
  /* margin: auto 0 1vh 0; */
  margin-top: auto;
}

@media screen and (min-width: 1023px) {
  .badge {
    height: 15vh;
    padding: 0.5%;
  }

  .badge-icon {
    margin-top: 2%;
    font-size: 1em;
  }

  .badge-header {
    margin-top: 3%;
    font-size: 0.9em;
  }

  .badge-desc {
    font-size: var(--fs-px-12);
    margin-top: 3%;
  }

  .badge-result {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 880px) {
  .badge {
    width: var(--w-40);
    margin: 20px;
  }

  .badge-desc {
    font-size: var(--fs-px-12);
  }
}

@media screen and (max-width: 700px) {
  .badge-icon {
    margin-top: var(--m-top-15-px);
  }
}

@media screen and (max-width: 500px) {
  .badges-wrapper {
    gap: 0;
  }

  .badge {
    width: 45vw;
    margin: 2% 0;
  }

  .badge-header {
    padding: 0 5%;
    line-height: 1.5;
  }

  .badge-icon {
    font-size: 1.5em;
    margin-top: 2%;
  }

  .tooltip-hover {
    cursor: pointer;
  }

  .tooltip-hover .badge-tooltip {
    width: 25vw;
    margin-right: var(--m-right-40);
    font-size: 1em;
    margin-top: var(--m-top-20-px);
    padding: 5px;
  }

  .tooltip-hover:hover .badge-tooltip {
    visibility: visible;
  }

  .badge-desc {
    visibility: hidden;
    height: 0;
  }

  .badge-result {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 400px) {
  .badge-header {
    font-size: var(--fs-basis-s1);
  }

  .tooltip-hover .badge-tooltip {
    width: 100px;
    margin-left: var(--m-left-10-px);
    padding: 5px;
    font-size: var(--fs-px-12);
  }
}
