@import "../colors.css";

.clients-pagination-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  flex-wrap: wrap;
}

.page-arrow {
  display: inline-flex;
  align-items: center;
}

.page-cursor-not-allowed {
  cursor: not-allowed;
}

.page-cursor {
  cursor: pointer;
}

.page-numbers {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 0;
}

.page-number {
  padding-right: 5px;
  cursor: pointer;
}

.current-page-number {
  color: var(--clr-pagination-num);
  cursor: not-allowed;
  font-weight: bold;
}

.not-current-page {
  color: var(--clr-primary-text);
}

@media screen and (max-width: 1000px) {
  .page-not-in-range {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .page-numbers {
    font-size: 12px;
  }
}

@media screen and (max-width: 415px) {
  .clients-pagination-wrapper {
    font-size: 12px;
    margin: 5px 10px 10px 5px;
    justify-content: space-between;
  }

  .page-number {
    padding-right: 0;
  }

  .current-page-number {
    color: inherit;
    font-weight: normal;
  }
  .not-current-page {
    display: none;
  }
}
