@import "../colors.css";

* {
  text-decoration: none;
}

#loader-position {
  margin-left: 40%;
  margin-top: 15%;
}

#clients-container {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 0 1%;
  background-color: var(--clr-primary-back);
}

.clients-child {
  width: 100%;
  margin-top: 5px;
}

table {
  width: 100%;
}

@media screen and (max-width: 700px) {
  #loader-position {
    margin-left: 40%;
    margin-top: 30%;
  }

  .clients-child {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  #loader-position {
    margin-left: 30%;
    margin-top: 30%;
  }
}

@media screen and (max-width: 415px) {
  #loader-position {
    margin-left: 25%;
    margin-top: 70%;
  }

  .clients-child {
    font-size: 10px;
  }
}
