@import "../colors.css";
@import "../typography.css";

.clients-pagination-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0;
  flex-wrap: wrap;
}

.page-arrow {
  display: inline-flex;
  align-items: center;
}

.page-cursor-not-allowed {
  cursor: not-allowed;
}

.page-cursor {
  cursor: pointer;
}

.page-numbers {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 0;
}

.page-number {
  padding: 0 5px;
  cursor: pointer;
}

.current-page-number {
  color: var(--clr-pagination-num);
  cursor: not-allowed;
  font-weight: var(--fw-bold);
}

.not-current-page {
  color: var(--clr-primary-text);
}

.page-not-in-range {
  display: none;
}

@media screen and (min-width: 1023px) {
  /*   .clients-pagination-wrapper {
    margin: 2% 0;
  } */

  .page-number {
    padding: 0 0.3vw;
  }

  .page-not-in-range {
    display: inherit;
  }
}

@media screen and (max-width: 800px) {
  .clients-pagination-wrapper {
    margin: 5% 0;
  }
}

@media screen and (max-width: 700px) {
  .clients-pagination-wrapper {
    font-size: 1.2em;
    margin: 3%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 415px) {
  .clients-pagination-wrapper {
    margin: 5%;
  }

  .page-number {
    padding-right: 0;
  }

  .current-page-number {
    color: inherit;
    font-weight: var(--fw-light);
  }
  .not-current-page {
    display: none;
  }
}
