@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

.row-container {
  height: var(--h-100);
  width: var(--w-100);
  display: flex;
  text-align: left;
  justify-content: space-around;
  align-items: center;
  padding: var(--pd-1);
  border-width: 0px 0px 2px 0px;
  border-color: var(--clr-border);
}

.row-container:hover {
  border: 1px solid var(--clr-border);
  cursor: pointer;
}

.rowItem {
  flex: 1;
  font-size: var(--fs-basis-s2);
  /* font-size: 0.9em; */
}

.rowItem:nth-child(5) {
  padding-left: 5%;
}

@media screen and (min-width: 1023px) {
  /*   .rowItem {
    font-size: 0.95em;
  } */
}

@media screen and (max-width: 415px) {
  .row-container {
    font-size: var(--fs-px-9);
    padding: var(--pd-1-0);
  }

  .row-container:hover {
    font-weight: bolder;
    font-size: 1.1em;
    padding: 0;
  }
}
