@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-cl-sm: 10px;
}

* {
  text-decoration: none;
}

.loader-position {
  margin-left: var(--m-left-40);
  margin-top: var(--m-top-15);
}

#clients-container {
  width: var(--w-100);
  height: var(--h-100);
  margin-top: var(--m-top-10-px);
  padding: 0 1%;
  background-color: var(--clr-primary-back);
}

.clients-child {
  width: var(--w-100);
  margin-top: 5px;
}

table {
  width: var(--w-100);
}

@media screen and (max-width: 700px) {
  .loader-position {
    margin-left: var(--m-left-40);
    margin-top: var(--m-top-30);
  }

  .clients-child {
    font-size: var(--fs-px-12);
  }
}

@media screen and (max-width: 600px) {
  .loader-position {
    margin-left: var(--m-left-30);
    margin-top: var(--m-top-30);
  }
}

@media screen and (max-width: 415px) {
  .loader-position {
    margin-left: var(--m-left-25);
    margin-top: var(--m-top-70);
  }

  .clients-child {
    font-size: var(--fs-cl-sm);
  }
}
