@import "../typography.css";
@import "../sizes.css";

.clients-filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3% 0;
  gap: 3%;
}

.filter-group {
  display: flex;
  align-items: center;
  flex: 1;
}

@media screen and (max-width: 800px) {
  .clients-filter-wrapper {
    margin: 5% 0;
  }
}

@media screen and (max-width: 700px) {
  .clients-filter-wrapper {
    align-items: center;
    flex-flow: column wrap;
    width: 70%;
    margin: 3% auto;
  }

  .filter-group {
    width: var(--w-100);
    line-height: 2;
  }
}

@media screen and (max-width: 400px) {
  .clients-filter-wrapper {
    margin: 5% auto;
    width: 90%;
  }

  .filter-group {
    width: var(--w-95);
  }

  .text-row {
    width: var(--w-100);
  }
}
