@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

#columns-header-container {
  width: var(--w-100);
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  background-color: var(--clr-primary-yellow);
  box-shadow: 1.5px 1.5px var(--clr-box-shadow);
  padding: var(--pd-10-px);
}

.column-header {
  flex: 1;
  font-size: 0.9em;
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

@media screen and (min-width: 1023px) {
  .column-header {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 700px) {
  #columns-header-container {
    padding: 5px 2px;
    font-size: var(--fs-px-9);
    margin: 0 -1px;
  }

  .column-header {
    font-size: var(--fs-px-12);
  }
}

@media screen and (max-width: 600px) {
  .column-header {
    font-size: var(--fs-px-11);
  }

  .column-header:nth-child(n + 2) {
    padding-left: 5px;
  }
}

@media screen and (max-width: 415px) {
  .column-header {
    font-size: var(--fs-px-9);
  }

  .column-header:nth-child(n + 2) {
    padding-left: 0;
  }
}
