@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

.popup-wrapper {
  position: fixed;
  width: var(--w-100);
  height: var(--h-100);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: var(--m-auto);
  background-color: var(--clr-back-wrapper);
}

.popup-container {
  position: fixed;
  left: var(--m-left-50);
  top: var(--m-top-50);
  transform: translate(-50%, -50%);
  width: var(--w-50);
  height: var(--h-40);
  padding: var(--pd-3);
  display: var(--flex);
  flex-flow: var(--f-flow-cw);
  text-align: left;
  background-color: var(--clr-back-container);
  opacity: 0.95;
  color: var(--clr-secondary-text);
  font-size: var(--fs-basis-s1);
}

.exit-btn {
  flex: 1;
  margin-left: var(--m-left-au);
  font-size: var(--fs-basis);
  display: inline-var(--flex);
  background-color: inherit;
  color: inherit;
  border: 0;
}

.exit-btn:hover {
  cursor: pointer;
}

form {
  flex: 5;
  flex-flow: var(--f-flow-cw);
}

.popup-row {
  width: var(--w-100);
  background-color: var(--clr-tran);
  flex: 2;
  display: var(--flex);
  align-items: var(--al-c);
}

.popup-row span {
  width: var(--w-40);
}

.popup-input {
  width: var(--w-60);
  background-color: var(--clr-tran);
  border-width: var(--bor-w-001);
  border-color: var(--clr-border-popup);
  color: var(--clr-lightest-blue);
  font-size: var(--fs-basis);
  padding-bottom: 1%;
  margin-top: var(--m-top-1);
}

.popup-input:focus {
  outline: none;
}

.update-btn {
  width: 91%;
  margin-top: var(--m-top-5);
  background-color: var(--clr-secondary-back);
  color: var(--clr-primary-text);
  font-weight: var(--fw-bold);
  text-align: var(--ta-c);
  font-size: var(--fs-basis);
  padding: 1.5%;
  border-color: var(--clr-tran);
  border-radius: var(--br-5-px);
  flex: 1;
}

.update-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  .popup-container {
    height: 50%;
    width: var(--w-45);
    padding: var(--pd-2);
  }

  .input-header {
    font-size: var(--fs-basis-m2);
  }

  .popup-input {
    font-size: var(--fs-basis-m1);
  }
}

@media screen and (max-width: 700px) {
  .popup-container {
    font-size: var(--fs-basis-m1);
    width: 55%;
    height: var(--h-35);
  }

  .popup-row span {
    width: var(--w-35);
  }

  .popup-input {
    width: var(--w-60);
  }

  .update-btn {
    font-size: var(--fs-basis-m1);
  }
}

@media screen and (max-width: 600px) {
  .popup-container {
    width: var(--w-60);
    height: var(--h-30);
  }

  .input-header {
    font-size: var(--fs-basis-s2);
  }

  .popup-input {
    font-size: var(--fs-basis-s1);
  }

  .update-btn {
    font-size: var(--fs-basis-s2);
    width: var(--w-90);
  }
}

@media screen and (max-width: 400px) {
  .popup-container {
    width: var(--w-70);
    padding: var(--pd-5);
  }

  .popup-input {
    font-size: var(--fs-basis);
  }

  .update-btn {
    font-size: var(--fs-basis);
  }
}
