@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-editC: 1.1em;
}

.popup-wrapper {
  position: fixed;
  width: var(--w-100);
  height: var(--h-100);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--clr-back-wrapper);
}

.popup-container {
  position: fixed;
  left: var(--m-left-50);
  top: var(--m-top-50);
  transform: translate(-50%, -50%);
  width: var(--w-50);
  padding: var(--pd-2);
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background-color: var(-clr-back-container);
  opacity: 0.87;
  color: var(--clr-secondary-text);
  font-size: var(--fs-basis-s1);
  letter-spacing: 0.3;
}

.exit-btn {
  margin-left: var(--m-left-au);
  font-size: var(--fs-basis);
}

.exit-btn:hover {
  cursor: pointer;
}

.popup-row {
  width: var(--w-100);
  display: flex;
  line-height: 30px;
  margin-bottom: 5px;
  background-color: var(--clr-tran);
}

.popup-row span {
  width: var(--w-40);
}

.popup-input {
  width: var(--w-55);
  background-color: var(--clr-tran);
  border-style: var(--bor-st-sol);
  border-width: var(--bor-w-001);
  border-color: var(--clr-border-popup);
  color: var(--clr-secondary-text);
}

.update-btn {
  width: var(--w-95);
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: var(--clr-primary-yellow);
  color: var(--clr-primary-text);
  font-weight: var(--fw-bold);
  text-align: center;
  font-size: var(--fs-basis);
  padding: var(--pd-1-0);
}

.update-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  .popup-container {
    width: var(--w-45);
    padding: 1.5%;
  }

  .update-btn {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 700px) {
  .popup-container {
    font-size: var(--fs-editC);
  }

  .popup-row {
    line-height: 25px;
  }

  .popup-row span {
    width: var(--w-35);
  }

  .popup-input {
    width: var(--w-60);
  }

  .update-btn {
    font-size: var(--fs-editC);
  }
}

@media screen and (max-width: 400px) {
  .popup-wrapper {
    font-size: var(--fs-px-14);
  }

  .popup-row span {
    padding-right: 10px;
  }

  .update-btn {
    margin-top: var(--m-top-10-px);
    margin-bottom: 5px;
  }
}
