@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-editC: 1.1em;
}

.popup-wrapper {
  position: fixed;
  width: var(--w-100);
  height: var(--h-100);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--clr-back-wrapper);
}

.popup-container {
  position: fixed;
  left: var(--m-left-50);
  top: var(--m-top-50);
  transform: translate(-50%, -50%);
  width: var(--w-50);
  height: 40%;
  padding: 3%;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  background-color: var(--clr-back-container);
  opacity: 0.95;
  color: var(--clr-secondary-text);
  font-size: var(--fs-basis-s1);
}

.exit-btn {
  flex: 1;
  margin-left: var(--m-left-au);
  font-size: var(--fs-basis);
  display: inline-flex;
}

.exit-btn:hover {
  cursor: pointer;
}

form {
  flex: 5;
  flex-flow: column wrap;
}

.popup-row {
  width: var(--w-100);
  background-color: var(--clr-tran);
  flex: 2;
  display: flex;
  align-items: center;
}

.popup-row span {
  width: var(--w-40);
}

.popup-input {
  width: 60%;
  background-color: var(--clr-tran);
  border-width: var(--bor-w-001);
  border-color: var(--clr-border-popup);
  color: #b1cfe7;
  font-size: 1em;
  padding-bottom: 1%;
  margin-top: 1%;
}

.popup-input:focus {
  outline: none;
}

.update-btn {
  width: 86%;
  margin-top: 5%;
  background-color: #738ba4;
  color: var(--clr-primary-text);
  font-weight: var(--fw-bold);
  text-align: center;
  font-size: var(--fs-basis);
  padding: 1.5%;
  border-color: var(--clr-tran);
  border-radius: 5px;
  flex: 1;
}

.update-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  .popup-container {
    height: 50%;
    width: var(--w-45);
    padding: 2%;
  }

  .update-header {
    font-size: 1.2em;
  }

  .popup-input {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 700px) {
  .popup-container {
    font-size: var(--fs-editC);
    width: 55%;
    height: 35%;
  }

  .popup-row span {
    width: var(--w-35);
  }

  .popup-input {
    width: var(--w-60);
  }

  .update-btn {
    font-size: var(--fs-editC);
  }
}

@media screen and (max-width: 600px) {
  .popup-container {
    width: 60%;
    height: 30%;
  }

  .update-header {
    font-size: 0.95em;
  }

  .popup-input {
    font-size: 0.9em;
  }

  .update-btn {
    font-size: 0.95em;
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .popup-container {
    width: 70%;
    padding: 5%;
  }

  .popup-input {
    font-size: 1em;
  }

  .update-btn {
    font-size: 1em;
  }
}
