@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-alert-large: 22px;
}

.alert-container {
  position: fixed;
  width: var(--w-100);
  height: var(--h-100);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--clr-back-wrapper);
}

.alert-wrapper {
  position: fixed;
  left: 25%;
  top: 30%;
  width: 50%;
  height: 40%;
  padding: var(--pd-1);
  display: flex;
  flex-flow: column wrap;
  color: var(--clr-alert);
  background-color: var(--clr-back-container);
}

.alert-success {
  color: var(--clr-secondary-text);
  background-color: var(--clr-alert-success);
}

.close-btn {
  margin-left: var(--m-left-au);
  background-color: var(--clr-tran);
  color: var(--clr-alert);
  border: none;
  font-size: 1.1em;
}

.close-btn:hover {
  cursor: pointer;
}

.alert-text {
  color: var(--clr-alert);
  font-size: 2em;
  margin: auto;
}

.alert-text span {
  padding-left: 10px;
}

.alert-text-success {
  color: var(--clr-secondary-text);
}

@media screen and (min-width: 1023px) {
  .alert-wrapper {
    left: 25%;
    top: 30%;
    width: 50%;
    height: 40%;
  }

  .close-btn {
    font-size: 1.1em;
  }

  .alert-text {
    font-size: 2.2em;
    margin: auto;
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .close-btn {
    font-size: 1em;
  }

  .alert-text {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 800px) {
  .alert-wrapper {
    left: 20%;
    top: 32.5%;
    width: 60%;
    height: 35%;
    padding: 2%;
  }
}

@media screen and (max-width: 700px) {
  .alert-text {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  .alert-wrapper {
    left: 10%;
    width: 80%;
  }

  .alert-text {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 415px) {
  .alert-wrapper {
    left: 5%;
    width: 90%;
    height: 25%;
    top: 37.5%;
    padding: 5%;
  }

  .alert-text {
    font-size: 1.3em;
  }
}
