@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-alert-large: 22px;
}

.alert-container {
  position: fixed;
  width: var(--w-100);
  height: var(--h-100);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: var(--m-auto);
  background-color: var(--clr-back-wrapper);
}

.alert-wrapper {
  position: fixed;
  left: 20%;
  top: 30%;
  width: var(--w-60);
  height: var(--h-40);
  padding: var(--pd-1);
  display: var(--flex);
  flex-flow: var(--f-flow-cw);
  color: var(--clr-alert);
  background-color: var(--clr-back-container);
}

.auth-wrap {
  left: 25%;
  width: var(--w-50);
}

.alert-success {
  color: var(--clr-secondary-text);
  background-color: var(--clr-alert-success);
}

.close-btn {
  margin-left: var(--m-left-au);
  background-color: var(--clr-tran);
  color: var(--clr-alert);
  border: none;
  font-size: var(--fs-basis-m1);
}

.close-btn:hover {
  cursor: pointer;
}

.alert-text {
  color: var(--clr-alert);
  margin: var(--m-auto);
  font-size: var(--fs-basis-m4);
  letter-spacing: var(--ls-normal);
  line-height: var(--lh-15);
}

.auth-text {
  font-size: var(--fs-basis-l2);
}

.alert-text span {
  padding-left: 10px;
}

.alert-text-success {
  color: var(--clr-secondary-text);
}

@media screen and (min-width: 1023px) {
  .alert-wrapper {
    left: 25%;
    top: 30%;
    width: var(--w-50);
    height: var(--h-40);
  }

  .close-btn {
    font-size: var(--fs-basis-m1);
  }

  .alert-text {
    font-size: 2.2em;
    margin: var(--m-auto);
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .close-btn {
    font-size: var(--fs-basis);
  }

  .alert-text {
    font-size: var(--fs-basis-m3);
  }

  .auth-text {
    font-size: var(--fs-basis-m5);
  }
}

@media screen and (max-width: 800px) {
  .alert-wrapper {
    left: 15%;
    top: 35%;
    width: var(--w-70);
    height: var(--h-30);
    padding: var(--pd-2);
  }

  .auth-wrap {
    left: 20%;
    top: 32.5%;
    width: var(--w-60);
    height: var(--h-35);
  }
}

@media screen and (max-width: 700px) {
  .alert-text {
    font-size: 1.4em;
  }

  .auth-text {
    font-size: var(--fs-basis-m3);
  }
}

@media screen and (max-width: 600px) {
  .alert-wrapper {
    left: 10%;
    width: 80%;
  }

  .alert-text {
    font-size: var(--fs-basis-m2);
  }

  .auth-text {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 415px) {
  .alert-wrapper {
    left: 5%;
    top: 40%;
    width: var(--w-90);
    height: 20%;
    padding: var(--pd-5);
  }

  .auth-wrap {
    height: 25%;
    top: 37.5%;
  }

  .alert-text {
    font-size: 1.3em;
  }

  .alert-text span {
    padding-left: 5px;
  }
}
