@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-alert-large: 22px;
}

.alert-container {
  position: fixed;
  width: var(--w-100);
  height: var(--h-100);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--clr-back-wrapper);
}

.alert-wrapper {
  position: fixed;
  left: var(--m-left-50);
  top: var(--m-top-50);
  transform: translate(-50%, -50%);
  width: 50vw;
  padding: var(--pd-2);
  display: flex;
  flex-flow: column wrap;
  font-size: var(--fs-basis-s1);
  /* text-align: left; */
  color: var(--clr-alert);
  background-color: var(--clr-back-container);
  opacity: 0.85;
  height: var(--h-20-vh);
}

.alert-success {
  color: var(--clr-secondary-text);
  background-color: var(--clr-alert-success);
}

.close-btn {
  margin-left: var(--m-left-au);
  background-color: var(--clr-tran);
  color: var(--clr-alert);
  border: none;
  font-size: var(--fs-px-15);
  flex: 1;
}

.close-btn:hover {
  cursor: pointer;
}

.alert-text {
  font-size: var(--fs-alert-large);
  color: var(--clr-alert);
  margin: 0 0 0 0.5%;
  /* text-align: center; */
  padding: var(--pd-1);
  flex: 3;
}

.alert-text span {
  padding-left: 10px;
}

.alert-text-success {
  color: var(--clr-secondary-text);
}
