@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

.input-wrapper {
  display: var(--d-in-flex);
  width: var(--w-100);
  align-items: var(--al-c);
  line-height: var(--lh-2);
}
