@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-landing-3: 3em;
  --fs-landing-large: 28px;
}

* {
  text-decoration: none;
}

.landing-container {
  flex: 10;
  width: var(--w-100);
  color: var(--clr-primary-text);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.landing-container::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--w-100);
  height: var(--h-100);
  z-index: 1;
  opacity: 0.4;
  background-image: url("../../assets/businesswoman-2817567_1280.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.landing-wrapper {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  padding: 2%;
  z-index: 2;
  width: var(--w-100);
  margin: 2vh auto 10vh auto;
}

.landing-header {
  margin-top: 1vh;
  font-family: var(--ff-landing);
  font-size: var(--fs-basis-l2);
  font-weight: bold;
}

.landing-sub-header {
  font-weight: var(--fw-lightest);
  text-transform: capitalize;
  font-family: var(--ff-primary);
  font-style: italic;
  line-height: 2;
  letter-spacing: var(--ls-s1);
}

.landing-username-header {
  padding: 15vh 0 10vh 0;
  font-family: var(--ff-landing);
  font-size: var(--fs-landing-3);
  font-weight: bold;
  letter-spacing: var(--ls-s2);
}

.landing-links-wrapper {
  width: var(--w-100);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-size: var(--fs-basis-m3);
  position: relative;
  z-index: 2;
}

.link-square {
  flex: 1;
  padding: 3%;
  margin: 5%;
  background-color: var(--clr-btn-link);
  border-radius: 10px;
  font-weight: var(--fw-medium);
  text-transform: uppercase;
}

.landing-link {
  background-color: var(--clr-link-back);
}

.link-square:hover {
  text-decoration: none;
  background-color: var(--clr-link-back-hover);
}

.single-link {
  text-align: center;
  color: var(--clr-primary-text);
  letter-spacing: var(--ls-l);
}

@media screen and (max-width: 880px) {
  .landing-username-header {
    padding: 15vh 0;
  }

  .landing-links-wrapper {
    font-size: var(--fs-basis-m1);
  }
}

@media screen and (max-width: 700px) {
  .landing-sub-header {
    font-size: var(--fs-basis-s1);
  }

  .landing-username-header {
    padding: 10vh 0;
  }

  .landing-links-wrapper {
    flex-direction: column;
  }

  .landing-link {
    margin: 3% 5%;
    width: var(--w-50);
  }
}

@media screen and (max-width: 500px) {
  .landing-link {
    margin: 5%;
    padding: 4%;
  }
}

@media screen and (max-width: 415px) {
  .landing-header {
    font-size: var(--fs-basis-m4);
  }

  .landing-sub-header {
    font-size: var(--fs-basis-s3);
  }

  .landing-username-header {
    font-size: var(--fs-basis-l1);
  }

  .landing-links-wrapper {
    font-size: var(--fs-basis-m3);
    gap: 5%;
  }

  .landing-link {
    width: var(--w-70);
    padding: 5%;
  }
}

@media screen and (min-height: 800px), screen and (max-width: 415px) {
  .landing-container {
    min-height: 94.5vh;
  }
}
