@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --fs-landing-small: 0.8em;
  --fs-landing-small-2: 1.7em;
  --fs-landing: 2em;
  --fs-landing-2: 2.5em;
  --fs-landing-3: 3em;
  --fs-landing-large: 28px;
}

* {
  text-decoration: none;
}

.landing-container {
  min-height: 92.5vh;
  width: var(--w-100);
  color: var(--clr-primary-text);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.landing-container::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--w-100);
  height: var(--h-100);
  z-index: 1;
  opacity: 0.6;
  background-image: url("../../assets/businesswoman-2817567_1280.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.landing-header {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-size: var(--fs-landing-2);
  padding-top: 3%;
  height: 150px;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 100px 50px 0 50px;
}

.landing-links-wrapper {
  width: var(--w-100);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-size: var(--fs-landing);
  position: relative;
  z-index: 2;
}

.link-square {
  flex: 1;
  padding: 3%;
  margin: 5%;
  background-color: var(--clr-link-back);
  border-radius: 3%;
  border: 0.25% solid var(--clr-border-landing);
}

.link-square:hover {
  text-decoration: none;
  background-color: var(--clr-link-back-hover);
}

.single-link {
  text-align: center;
  line-height: 1.7em;
  color: var(--clr-primary-text);
}

@media screen and (min-width: 1023px) {
  .landing-header {
    font-size: var(--fs-landing-3);
  }
}

@media screen and (max-width: 880px) {
  .landing-header {
    font-size: var(--fs-landing-2);
    height: 0;
    margin: 100px 25px 0 25px;
  }

  .landing-links-wrapper {
    margin-top: 10%;
  }
}

@media screen and (max-width: 700px) {
  .landing-header {
    font-size: var(--fs-landing);
  }

  .landing-links-wrapper {
    flex-direction: column;
  }

  .link-square {
    font-size: var(--fs-landing-small);
    margin-top: 2.5%;
    width: var(--w-50);
  }
}

@media screen and (max-width: 600px) {
  .landing-header {
    font-size: var(--fs-landing-small-2);
  }

  .landing-links-wrapper {
    margin-top: var(--m-top-15);
  }
}

@media screen and (max-width: 500px) {
  .landing-header {
    font-size: var(--fs-px-24);
    margin-left: 20px;
    margin-right: var(--m-right-20);
  }
}

@media screen and (max-width: 400px) {
  .landing-header {
    font-size: var(--fs-landing-large);
    margin-left: 30px;
    margin-right: 30px;
  }

  .landing-links-wrapper {
    margin-top: 25%;
  }

  .link-square {
    font-size: var(--fs-landing-small);
    margin-top: 10%;
    width: var(--w-60);
  }
}

@media screen and (max-width: 415px), screen and (min-height: 800px) {
  .landing-container {
    min-height: 94.5vh;
  }
}
