@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --w-login: 95%;
}

* {
  text-decoration: none;
}

.auth-wrapper {
  width: 35vw;
  display: var(--flex);
  flex-flow: var(--f-flow-cw);
  text-align: var(--ta-c);
  margin: var(--m-auto);
  align-items: var(--al-c);
  background-color: var(--clr-auth-back);
  padding: var(--pd-2);
  z-index: 2;
  font-size: var(--fs-basis-s1);
  border-radius: 7px;
}

.crm-logo {
  background-image: url("../../assets/logo-crm.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8vw;
  height: 8vh;
  margin-right: var(--m-r-auto);
}

.auth-header {
  margin-top: 1vh;
  font-family: var(--ff-landing);
  font-size: var(--fs-basis-l2);
  font-weight: bold;
}

.auth-sub-header {
  font-size: var(--fs-basis-m1);
  font-weight: var(--fw-lightest);
  text-transform: var(--tt-cap);
  font-family: var(--ff-primary);
  font-style: italic;
  line-height: var(--lh-2);
  letter-spacing: var(--ls-l);
}

.login-wrapper {
  display: var(--flex);
  flex-flow: column;
  gap: var(--h-5-vh);
  padding-top: var(--pt-20);
  width: var(--w-100);
}

.main {
  margin-top: 5px;
}

#auth-label {
  width: var(--w-50);
  padding-top: 2%;
  font-size: var(--fs-basis-m2);
}

#auth-input {
  width: var(--w-login);
  font-size: var(--fs-basis-s3);
}

.auth-btn {
  width: var(--w-100);
  padding: var(--pd-5);
  background-color: var(--clr-btn-link);
  color: var(--clr-primary-text);
  font-size: var(--fs-basis);
  text-align: var(--ta-c);
  margin-top: var(--m-3-vh);
  border: 0;
  border-radius: var(--br-5-px);
  letter-spacing: var(--ls-l);
  font-weight: var(--fw-medium);
  text-transform: var(--tt-up);
  font-size: var(--fs-basis-m1);
}

.auth-btn:hover {
  background-color: var(--clr-link-back-hover);
  cursor: pointer;
}

.register-link-wrapper {
  display: var(--d-in-flex);
  align-items: var(--al-c);
  font-size: var(--fs-basis-m2);
}

.auth-link {
  padding: var(--pd-5);
  margin: 5% 0 5% 5%;
  font-size: var(--fs-basis-s1);
  border-radius: var(--br-5-px);
}

@media screen and (min-width: 1023px) {
  .auth-wrapper {
    width: var(--w-30-vw);
  }
  .auth-header {
    font-size: var(--fs-basis-l1);
  }

  .login-form {
    display: unset;
  }

  .auth-btn {
    padding: var(--pd-4);
  }

  .auth-link {
    padding: var(--pd-4);
  }
}

@media screen and (max-width: 880px) {
  .auth-wrapper {
    width: var(--w-40-vw);
  }
  .login-wrapper {
    padding-top: 30%;
  }

  #auth-input {
    font-size: var(--fs-basis-s5);
  }
}

@media screen and (max-width: 800px) {
  .auth-wrapper {
    width: var(--w-40-vw);
  }

  .auth-header {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 700px) {
  .auth-wrapper {
    width: var(--w-45-vw);
  }
}

@media screen and (max-width: 600px) {
  .auth-wrapper {
    width: 60vw;
  }

  .login-wrapper {
    width: var(--w-login);
    padding-top: var(--pt-20);
  }

  .auth-header {
    margin-top: 2.5vh;
  }

  #auth-label {
    width: 45%;
  }

  .auth-btn {
    font-size: var(--fs-basis-s3);
  }

  .auth-link {
    font-size: var(--fs-basis-s5);
  }
}

@media screen and (max-width: 415px) {
  .auth-wrapper {
    margin: 15vh auto;
    border-radius: var(--br-5-px);
    width: 80vw;
    padding: var(--pd-3);
  }

  .auth-header {
    font-size: var(--fs-basis-l1);
    margin-top: 1.5vh;
  }

  .login-wrapper {
    padding-top: 30%;
  }

  #auth-label {
    width: var(--w-50);
  }

  #auth-input {
    margin-right: 0;
    width: 85%;
    font-size: var(--fs-basis-s4);
  }

  .auth-btn {
    font-size: var(--fs-basis-m1);
  }

  .auth-link {
    font-size: var(--fs-basis-s1);
  }
}
