@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

* {
  text-decoration: none;
}

.auth-wrapper {
  width: 35vw;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  margin: auto;
  align-items: center;
  background-color: var(--clr-auth-back);
  padding: 2%;
  z-index: 2;
  font-size: var(--fs-basis-s1);
  border-radius: 7px;
}

.crm-logo {
  background-image: url("../../assets/logo-crm.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8vw;
  height: 8vh;
  margin-right: auto;
}

.auth-header {
  margin-top: 1vh;
  font-family: var(--ff-landing);
  font-size: var(--fs-basis-l2);
  font-weight: bold;
}

.auth-sub-header {
  font-size: var(--fs-basis-m1);
  font-weight: var(--fw-lightest);
  text-transform: capitalize;
  font-family: var(--ff-primary);
  font-style: italic;
  line-height: 2;
  letter-spacing: var(--ls-l);
}

.login-wrapper {
  display: flex;
  flex-flow: column;
  gap: 5vh;
  padding-top: 20%;
  width: var(--w-100);
}

.main {
  margin-top: 5px;
}

#auth-label {
  width: 50%;
  padding-top: 2%;
  font-size: var(--fs-basis-m2);
}

#auth-input {
  width: 95%;
  font-size: var(--fs-basis-s3);
}

.auth-btn {
  width: var(--w-100);
  padding: 5%;
  background-color: var(--clr-btn-link);
  color: var(--clr-primary-text);
  font-size: var(--fs-basis);
  text-align: center;
  margin-top: 3vh;
  border: 0;
  border-radius: 5px;
  letter-spacing: var(--ls-l);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  font-size: var(--fs-basis-m1);
}

.auth-btn:hover {
  background-color: var(--clr-link-back-hover);
}

.register-link-wrapper {
  display: inline-flex;
  align-items: center;
  font-size: var(--fs-basis-m2);
}

.auth-link {
  padding: 5%;
  margin: 5% 0 5% 5%;
  font-size: var(--fs-basis-s1);
  border-radius: 5px;
}

@media screen and (min-width: 1023px) {
  .auth-wrapper {
    width: 30vw;
  }
  .auth-header {
    font-size: var(--fs-basis-l1);
  }

  .login-form {
    display: unset;
  }

  .auth-btn {
    padding: 4%;
  }

  .auth-link {
    padding: 4%;
  }
}

@media screen and (max-width: 880px) {
  .auth-wrapper {
    width: 40vw;
  }
  .login-wrapper {
    padding-top: 30%;
  }

  #auth-input {
    font-size: var(--fs-basis-s5);
  }
}

@media screen and (max-width: 800px) {
  .auth-wrapper {
    width: 40vw;
  }

  .auth-header {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 700px) {
  .auth-wrapper {
    width: 45vw;
  }
}

@media screen and (max-width: 600px) {
  .auth-wrapper {
    width: 60vw;
  }

  .login-wrapper {
    width: 95%;
    padding-top: 20%;
  }

  .auth-header {
    margin-top: 2.5vh;
  }

  #auth-label {
    width: 45%;
  }

  .auth-btn {
    font-size: var(--fs-basis-s3);
  }

  .auth-link {
    font-size: var(--fs-basis-s5);
  }
}

@media screen and (max-width: 415px) {
  .auth-wrapper {
    margin: 15vh auto;
    border-radius: 5px;
    width: 80vw;
    padding: 3%;
  }

  .auth-header {
    font-size: var(--fs-basis-l1);
    margin-top: 1.5vh;
  }

  .login-wrapper {
    padding-top: 30%;
  }

  #auth-label {
    width: 50%;
  }

  #auth-input {
    margin-right: 0;
    width: 85%;
    font-size: var(--fs-basis-s4);
  }

  .auth-btn {
    font-size: var(--fs-basis-m1);
  }

  .auth-link {
    font-size: var(--fs-basis-s1);
  }
}
