@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

* {
  text-decoration: none;
  font-family: var(--ff-primary);
}

#navbar-container {
  width: var(--w-100);
  font-size: var(--fs-basis);
  padding: 0 0.5%;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: var(--clr-nav-back);
}

.nav-link {
  flex: 1;
  padding: var(--pd-1);
  color: var(--clr-secondary-text);
}

.nav-link:hover {
  color: var(--clr-primary-yellow);
  background-color: var(--clr-nav-hover);
}

.nav-link:focus {
  color: var(--clr-primary-yellow);
  background-color: var(--clr-nav-hover);
}

.nav-link:active {
  color: var(--clr-primary-yellow);
  background-color: var(--clr-nav-hover);
}

.nav-link-active {
  color: var(--clr-primary-yellow);
  background-color: var(--clr-nav-hover);
}

@media screen and (max-width: 700px) {
  #navbar-container {
    padding: 1%;
  }
}

@media screen and (max-width: 400px) {
  #navbar-container {
    height: 5vh;
    /* text-align: start; */
  }
}
