@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

* {
  text-decoration: none;
  font-family: var(--ff-primary);
}

#navbar-container {
  width: var(--w-100);
  font-size: var(--fs-basis);
  display: flex;
  text-align: center;
  align-items: center;
  background-color: var(--clr-nav-back);
}

.nav-link {
  flex: 1;
  padding: 2%;
  color: var(--clr-secondary-text);
}

.nav-link:hover {
  color: var(--clr-primary-yellow);
  background-color: var(--clr-nav-hover);
}

.nav-link:focus {
  color: var(--clr-primary-yellow);
  background-color: var(--clr-nav-hover);
}

.nav-link:active {
  color: var(--clr-primary-yellow);
  background-color: var(--clr-nav-hover);
}

.nav-link-active {
  color: var(--clr-primary-yellow);
  background-color: var(--clr-nav-hover);
}

@media screen and (min-width: 1023px) {
  .nav-link {
    padding: 1% 2%;
  }
}
