@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

* {
  text-decoration: none;
}

.register-header {
  font-size: 2.5em;
}

.register-wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 5vh;
  padding-top: 20%;
}

.login-link-wrapper {
  display: inline-flex;
  align-items: center;
  font-size: 1.1em;
}

@media screen and (max-width: 415px) {
  .auth-btn {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .login-link-wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
