@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

* {
  text-decoration: none;
}

.register-header {
  font-size: var(--fs-basis-l1);
}

.register-wrapper {
  display: var(--flex);
  flex-flow: var(--f-flow-cw);
  gap: var(--h-5-vh);
  padding-top: var(--pt-20);
}

.login-link-wrapper {
  display: var(--d-in-flex);
  align-items: var(--al-c);
  font-size: var(--fs-basis-m1);
}

@media screen and (max-width: 415px) {
  .auth-btn {
    width: var(--w-90);
    margin-right: var(--m-r-auto);
    margin-left: var(--m-left-au);
  }

  .login-link-wrapper {
    width: var(--w-90);
    margin-right: var(--m-r-auto);
    margin-left: var(--m-left-au);
  }
}
