.main {
  font-size: 0.3em;
  margin-right: 5px;
  color: red;
  margin-top: 4px;
}

.client-input {
  margin-top: 1%;
}

@media screen and (max-width: 700px) {
  .main {
    margin-top: 6px;
  }

  .client-input {
    margin-top: 1.5%;
  }
}

@media screen and (max-width: 415px) {
  .main {
    margin-top: 4px;
  }
}
