@import "../colors.css";
@import "../typography.css";

label {
  width: 30%;
  font-size: 0.9em;
}

.text-row {
  border-color: var(--clr-border);
  border-width: var(--bor-w-001);
  text-align: center;
  background-color: var(--clr-tran);
  margin-bottom: 2%;
  margin-left: 5%;
  width: 60%;
  font-size: 0.85em;
}

.text-row:focus {
  outline: none;
}

@media screen and (min-width: 1023px) {
  label {
    max-width: 50%;
  }

  .text-row {
    margin-left: 3%;
  }
}

@media screen and (max-width: 700px) {
  .text-row {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 600px) {
  label {
    font-size: 0.85em;
  }
}
