@import "../colors.css";
@import "../typography.css";
@import "../sizes.css";

:root {
  --m-l-5: 5%;
}

.select-label {
  width: 30%;
  font-size: var(--fs-basis-s1);
}

.text-row {
  border-color: var(--clr-border);
  border-width: var(--bor-w-001);
  text-align: var(--ta-c);
  background-color: var(--clr-tran);
  margin-bottom: 2%;
  margin-left: 15%;
  width: var(--w-60);
  font-size: var(--fs-basis-s3);
}

.text-row:focus {
  outline: none;
}

@media screen and (min-width: 1023px) {
  .select-label {
    max-width: var(--w-50);
  }

  .text-row {
    margin-left: 3%;
  }
}

@media screen and (max-width: 900px) {
  .select-label {
    font-size: var(--fs-basis-s3);
  }

  .text-row {
    width: var(--w-60);
    font-size: var(--fs-basis-s4);
  }
}

@media screen and (max-width: 800px) {
  .select-label {
    font-size: var(--fs-basis-s2);
  }

  .text-row {
    font-size: var(--fs-basis-s1);
    margin-left: var(--m-l-5);
  }
}

@media screen and (max-width: 700px) {
  .select-label {
    font-size: var(--fs-basis-m1);
  }
  .text-row {
    font-size: var(--fs-basis);
  }
}

@media screen and (max-width: 600px) {
  .select-label {
    width: 40%;
  }

  .text-row {
    width: var(--w-70);
    margin-left: var(--m-l-5);
  }
}
