@import "../colors.css";
@import "../typography.css";

label {
  margin-right: 10px;
}

.text-row {
  border-color: var(--clr-border);
  border-style: var(--bor-st-sol);
  border-width: var(--bor-w-001);
  text-align: center;
  background-color: var(--clr-tran);
  margin-bottom: 8px;
  font-size: var(--fs-px-15);
  width: 180px;
}

@media screen and (max-width: 700px) {
  .text-row {
    font-size: var(--fs-px-11);
  }
}
