@import "../sizes.css";
@import "../typography.css";

.input-header {
  width: var(--w-30);
  line-height: var(--lh-2);
}

@media screen and (max-width: 700px) {
  .input-header {
    width: var(--w-30);
  }
}
