@import "../../typography.css";
@import "../../sizes.css";

.pies-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: var(--m-top-20-px);
}

.pie-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.pie-header {
  text-align: center;
  margin-right: var(--m-right-20);
  font-size: 11px;
}
