@import "../../colors.css";

.category-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.select-category {
  margin-left: 40px;
  border-color: var(--clr-border);
  border-width: var(--bor-w-001);
  text-align: center;
  background-color: var(--clr-tran);
  width: 150px;
}
